			    <nav> 
        <ul id="admin_menu">
        <li><a>Admin</a>
            <ul class="noJS">
                <li><a href="/flying_bottles/zimbi_flying_bottles">Zimbi Flying Bottles</a></li>
                <li><a href="/flying_bottles/how_to_throw_a_zimbi">How to Throw a Zimbi</a></li>
                <li><a href="/flying_bottles/use_re-use_and_recycle">Use, Re-Use &amp; Recycle</a></li>
            </ul>
        </li>

        <li><a>Tools</a>
            <ul class="noJS">
                <li><a href="/snuggli/twitter">Snuggli Twitter</a></li>
            </ul>
        </li>

        <li><a>CMS</a>
        	<ul class="noJS">
                <li><a href="/pages">Content Pages</a></li>
            	<li><a href="/contents">Body Content</a></li>
                <li><a href="/blogs">Blog Entry</a></li>
                <li><a href="/lists">List Management</a></li>
            </ul>
        </li>
        <li><a href="/blog/main">What</a></li>
        </ul>
	</nav>