<%= image_tag ("footer-logo.jpg") %>
<br/><br/>

<table width="680" cellspacing="0" cellpadding="0" border="0" align="center">
    <tr>
        <td width="50"></td>
        <td width="60" class="footer_nav"><b>Home</b></td>
        <td width="170" class="footer_nav"><b>Zimbi Juice Drinks</b></td>
        <td width="140" class="footer_nav"><b>Flying Bottles</b></td>
        <td width="100" class="footer_nav"><b>Blog</b></td>
        <td width="160" class="footer_nav"><b>About Zimbi</b></td>
    </tr>
    <tr>
        <td></td>
        <td class="footer_nav td_padding"></td>
        <td class="footer_nav td_padding">
            Acai Raspberry<br/>
            Apple Yumberry<br/>
            Orange-Pi&#241;a Camu Camu<br/>
            Pomegranate Punch<br/>
            Tropical Wolfberry
        </td>
        <td class="footer_nav  td_padding">
            Zimbi Flying Bottles</br>
            How to Throw a Zimbi<br/>
            Use, Re-Use &amp; Recycle<br/>
        </td>
        <td class="footer_nav  td_padding">
            Zimbi Blog
        </td>
        <td class="footer_nav  td_padding">
            For Distributors<br/>
            For Retailers<br/>
            Company Information</br>
            Contact Information</br>
            News &amp; Events</br>
            Rocket Bottling<br/>
            sitemap</br/>
        </td>
    </tr>
</table>
<br/><br/><br/>

<b>Zimbi Drinks</b><br/>
510 East Technology Avenue, Building C, Suite 1100<br/>
Orem, UT 84097
<br/><br/>
801-995-4350 
<br/><br/><br/>
<span class="font8">&copy; 2010 - 

<script language="javascript">
<!--
    
    document.write(new Date().getFullYear());

//-->
</script>

Xymbiot, Inc. All Rights Reserved.<br/>
Zimbi and its logo are registeredtrademarks of Xymbiot, Inc.<br/>
"Super Alien Juice", "Use, Re-Use and Recycle" and "Flying Bottle" are trademarks of Xymbiot, Inc.</span>
