			    <nav> 
        <ul id="main_menu">
        <li><a href="/">HOME</a></li>
        <li><a href="#">ZIMBI JUICE DRINKS</a>
        	<ul class="noJS">
            	<li><a href="/products/foglight-as-a-service.php">Acai Raspberry</a></li>
                <li><a href="/products/kaching-ecommerce-analytics.php">Apple Yumberry</a></li>
                <li><a href="/products/kaching-ecommerce-analytics.php">Pomegranate Punch</a></li>
            	<li><a href="/products/ubiquity-integrated-business-intelligence.php">Orange Pina Camu Camu</a></li>
                <li><a href="/products/kaching-ecommerce-analytics.php">Tropical Wolfberry</a></li>
            </ul>
        </li>
        <li><a href="#">FLYING BOTTLES</a>
            <ul class="noJS">
                <li><a href="/case-studies/it-monitoring-with-faas.php">Zimbi Flying Bottles</a></li>
                <li><a href="/case-studies/kaching-analytics.php">How to Throw a Zimbi</a></li>
                <li><a href="/case-studies/ubiquity-integration.php">Use, Re-Use &amp; Recycle</a></li>
            </ul>
        </li>
        <li><a href="/scr/test">BLOG</a></li>
        <li><a href="#">ABOUT ZIMBI</a>
            <ul class="noJS">
                <li><a href="/about-us/company-information.php">For Distributors</a></li>
                <li><a href="/about-us/news-and-events.php">For Retailers</a></li>
                <li><a href="/about-us/news-and-events.php">Company Information</a></li>
                <li><a href="/about-us/contact-information.php">Contact Information</a></li>
                <li><a href="/about-us/news-and-events.php">News &amp; Events</a></li>
            </ul>
        </li>
        </ul>
	</nav>