

<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<h1>Editing page</h1>

<br/><br/>
	Negative number indicates a blog and how many posts from main blog.
<br/><br/><br/>


<%= render 'form' %>

<%= link_to 'Show', @page %> |
<%= link_to 'Back', pages_path %>
