@charset "UTF-8";
/* CSS Document */



#main_menu, #main_menu ul {
    list-style: none;
}
#main_menu {
    float: left;
}
#main_menu > li {
    float: left;
    font-weight:bold;
    font-size:12px;
	font-family:'Orbitron',arial,serif;
	letter-spacing:1px;

/*	border-right: 1px solid #BA2025; */
}
#main_menu li a {
	display: block;
    height: 25px;
    line-height: 25px;
    padding: 5px 25px;
    text-decoration: none;
}
#main_menu ul {
    position: absolute;
    display: none;
	z-index: 999;
}
#main_menu ul li a {
    width: 200px;
}
#main_menu li:hover ul.noJS {
    display: block;
}

/* Main menu
------------------------------------------*/
#main_menu {
	font-family: 'Exo', sans-serif;
	font-size:10px;
/*    background: #E20A1A; */
}

#main_menu > li > a {
    color: #000;
/*    font-weight: bold; */
}
#main_menu > li:hover > a {
    background: #b1ed32; 
    color: #fff;
    opacity:.7;
    filter:alpha(opacity=70);
    filter: “alpha(opacity=70)”;
}
 
/* Submenu
------------------------------------------*/
#main_menu ul {
    background: #c2ff59;
    opacity:.95;
    filter:alpha(opacity=95);
    filter: “alpha(opacity=95)”;

}
#main_menu ul li a {
    color: #000;
	border-top: 1px solid #e2ffb0; 
}
#main_menu ul li:hover a {
    background: #e2ffb0;
}
